* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-size: 18px;
}


nav {
  background: white;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}


nav li {
  text-decoration: none;
  list-style: none;
  padding: 15px;
}


nav li a:hover {
    color: rgb(182, 202, 202);
}



#slide-text {
    height: 300px;
    background-color: rgba(43, 225, 253, 0.664);
    text-align: center;
    padding-top: 5%;
}


#content-container {
    height: 300px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: rgb(255, 254, 253);
    font-size: 15px;
}

#form-container {
    display: flex;
    flex-direction: column;
}

#all-content {
    height: 250px;
}

