* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-size: 18px;
}


nav {
  background:  rgb(48, 46, 46);
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  position: fixed;
}


nav li {
  text-decoration: none;
  list-style: none;
  padding: 15px;
  color: white;
}


nav li a:hover {
    color: rgb(12, 14, 14);
    background-color: aliceblue;
    border-radius: 5px;
    padding: 3px;
}



#slide-text {
    height: 350px;
    background-color: rgba(204, 225, 228, 0.664);
    text-align: center;
    padding-top: 10%;
}


#content-container {
    height: 300px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: rgba(43, 225, 253, 0.664);
}


#render-content{
    text-align: center;
}

#form-container {
    display: flex;
    flex-direction: column;
}

#all-content {
    height: 350px;
    background-color:  rgba(204, 225, 228, 0.664);
}


#footer{
    background-color: rgb(48, 46, 46);
    height: 550px;
    opacity: 0.9;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

input[type=submit] {
    background-color: rgba(204, 225, 228, 0.664);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: rgb(48, 46, 46);
    color: white;
  }


  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: horizontal;
    overflow: hidden;
  }

.support{
  background-color: blue;
  padding: 15px;
  margin: 18px;
  border-radius: 10px;

  }

  form.new-poem-form {
    border: solid black 1px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 70px;
  }
  
  form.new-poem-form > input,
  form.new-poem-form > textarea {
    font-size: 1em;
    font-family: sans-serif;
    margin-bottom: 0.5em;
  }
  
  input[type="submit"],
  button {
    font-weight: bold;
    font-size: 1em;
    background: rgba(204, 225, 228, 0.664);
    border: solid black 1px;
    padding: 0.3em;
    cursor: pointer;
    color: black;
  }
  
  





